[user]
	name = Gabriel Rasteli
	email = gabrielrasteli3@gmail.com

[core]
  editor = nvim

# start
[alias]
  rao = remote add origin
  aa = add .
  au = add -u
  bdel = branch -D
  ps = push
  psom = push origin master
  cm = commit -m
  ck = checkout
  ckm = checkout master
  ckb = checkout -b
  st = status -sb
  sf = show --name-only
  lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30
  # prints commits ahead of local repository
  incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
  # prints commits ahead of remote repository
  outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
  # removes file from staging area
  unstage = reset HEAD --
  # undoes changes from files in unstaging area
  undo = checkout --
  # goes back one commit
  rollback = reset --soft HEAD~1
#end
