snippet env
\begin{$1}
  $2
\end{$1}
$0
endsnippet

snippet eql "Multiline equation* env"
\begin{align*}
  $1
\end{align*}
$0
endsnippet

snippet infobox
\noindent \fbox{
  \begin{minipage}{$1}
    \small
    {\color{infobox}$2} \normalfont $3
  \end{minipage}
}
$0
endsnippet
