snippet eg "Example" bA
\subsection*{\small {\color{astral}EXEMPLO $1} \textmd{$2}}$0
endsnippet

snippet sec "\section" bA
\section{$1}$0
endsnippet

snippet *sec "\section*" bA
\section*{$1}$0
endsnippet

snippet ssec "\subsection" bA
\subsection{$1}$0
endsnippet

snippet *ssec "\subsection*" bA
\subsection*{$1}$0
endsnippet
