-- Xmobar (http://projects.haskell.org/xmobar/)
-- This is one of the xmobar configurations for DTOS.
-- This config is packaged in the DTOS repo as 'dtos-xmobar'
-- Color scheme: Nord

Config { font            = "xft:mononoki Nerd Font:weight=bold:pixelsize=15:antialias=true:hinting=true"
       , additionalFonts = [ "xft:mononoki:pixelsize=11:antialias=true:hinting=true"
                           , "xft:Font Awesome 5 Free Solid:pixelsize=12"
                           , "xft:Font Awesome 5 Brands:pixelsize=12"
                           ]
       , bgColor      = "#2e3440"
       , fgColor      = "#d8dee9"
       -- Position TopSize and BottomSize take 3 arguments:
       --   an alignment parameter (L/R/C) for Left, Right or Center.
       --   an integer for the percentage width, so 100 would be 100%.
       --   an integer for the minimum pixel height for xmobar, so 24 would force a height of at least 24 pixels.
       --   NOTE: The height should be the same as the trayer (system tray) height.
       , position     = Static { xpos = 0, ypos = 0, width = 1920, height = 22}
       , lowerOnStart = True
       , hideOnStart  = False
       , allDesktops  = True
       , persistent   = True
       , iconRoot     = ".xmonad/xpm" -- default: "."
       , commands = [
                        -- Echos a "penguin" icon in front of the kernel output.
                      Run Com "echo" ["<fn=3>\xf17c</fn>"] "penguin" 3600
                        -- Get kernel version (script found in .local/bin)
                    , Run Com ".local/bin/kernel" [] "kernel" 36000
                        -- Cpu usage in percent
                    , Run Cpu ["-t", "<fn=2>\xf108</fn>  CPU: (<total>%)","-H","50","--high","red"] 20
                        -- Ram used number and percent
                    , Run Memory ["-t", "<fn=2>\xf233</fn>  Mem: <used>M (<usedratio>%)"] 20
                        -- Disk space free
                    , Run DiskU [("/", "<fn=2>\xf0c7</fn> SSD: <free> free")] [] 60
                        -- Echos an "up arrow" icon in front of the uptime output.
                    , Run Com "echo" ["<fn=2>\xf0aa</fn>"] "uparrow" 3600
                        -- Echos an "bell" icon in front of the updates.
                    , Run Com "echo" ["<fn=2>\xf0f3</fn>"] "bell" 3600
                    , Run Com "echo" ["<fn=2>\xf51d</fn>"] "icon" 3600
                    , Run Com "echo" ["<fc=#a2a2a2>|</fc>"] "separator" 3600

                        -- Uptime
                    , Run Uptime ["-t", "Uptime: <days>d <hours>h"] 360
                        -- Time and date
                    , Run Date "<fn=2>\xf017</fn> %b %d %Y - (%H:%M) " "date" 50
                        -- Check for pacman updates (script found in .local/bin)
                    , Run Com ".local/bin/pacupdates" [] "pacupdate" 36000
                        -- Script that dynamically adjusts xmobar padding depending on number of trayer icons.
                    , Run Com ".config/xmobar/trayer-padding-icon.sh" [] "trayerpad" 20
                        -- Prints out the left side items such as workspaces, layout, etc.
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       -- StdinReader, updates, kernel, SSD, uptime and date
       , template = " %icon% <fc=#666666>|</fc>%UnsafeStdinReader% }{ %separator% <action=`alacritty -e sudo pacman -Syu`><fc=#88c0d0>%bell% %pacupdate%</fc></action> %separator% <fc=#8fbcbb>%penguin% %kernel%</fc>%separator% <fc=#ebcb8b>%disku%</fc> %separator% <fc=#b48ead>%uparrow% %uptime%</fc> %separator% <action=yad --calendar --geometry=400x200><fc=#a3be8c>%date%</fc></action>%separator% %trayerpad%"
       -- All items in panel
       }
