/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1D1F28FF;
    background-alt: #282A36FF;
    foreground:     #FDFDFDFF;
    selected:       #61afef;
    active:         #61afef;
    urgent:         #F37F97FF;
}
